*{
    margin: 0;
    padding: 0;
}


.box{
    width: 1000px;
    border: 1px solid red;
    margin:0 auto ;
    
}

.top{
    width: 1000px;
    height: 394px;
    background: url(./img/iPhone.png) no-repeat 0px 0px;
    background-size:contain ;
    position: relative;
    
    .ama{
        font-size: 35px;
        color: #fff;
        position: absolute;
        top: 5px;
        left: 206px;
        
       a{
            font-size: 13px;
            margin-left:21px ;
            position: relative;
            float: left;
            top: -51px;
            width: 48px;
            height: 58px;
            line-height: 70px;
            border-top: 2px solid #75B42B;
        }
        a:hover{
             border-top: 2px solid #fff;
            
        }
    }
    .cap{
        text-align:center;
        position: relative;
        top: 130px;
        font-size:45px;
        color: #fff;
        line-height: 80px;
        
        .diankuang{
//          border: 1px solid red;
            width: 50px;
            height: 30px;
            margin-left:487px ;
            margin-top:55px ;
        }
           .dian{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 2px solid #fff;
            float: left;
            margin-left: 5px;    
        }
        
        .dian:hover{
             border: 2px solid #fff;
             background: #fff;
        }
    }
    
}



.why{
    height: 348px;
}
.yuanquan{
//  width: 530px;
//  height: 234px;
//  border: 1px solid #aaa;
    margin-left:230px ;
    font-size:8px ;
    padding-top:53px ;
    
}
.yuqnaun1{
    width: 124px;
    height: 250px; 
//  border: 1px solid red;
    float: left;
    
    img{
       margin:56px 5px ;
    }
    span{
        position: relative;
        top: -50px;
    }
}
.yuqnaun2{
    width: 124px;
    height: 250px;
//  border: 1px solid red;
    float: left;
    margin-left:79px ;  
    
    
    .span{
        font-size: 24px;
        margin-left:8px ;
    }
    img{
        margin:27px 5px;
    }
    .aa{
        position: relative;
        top: -20px;
    }
}
.yuqnaun3{
    width: 124px;
    height: 250px;
//  border: 1px solid red;
    float: left;
    
    margin-left:70px ;
    
    img{
        margin:56px 5px;
    }
    span{
        position: relative;
        top: -50px;
    }
}


.disan{
    height: 368px;
    width: 1000px;
    background: #262626;
    background: url(./img/iPhone1.png) no-repeat;
    background-size: 1000px;
   
    
    .ziti{
        width: 250px;
        height: 180px;
//      border: 1px solid red;
        float: right;
        margin: 91.5px 250px;
        line-height:20px ;
        color: #fff;
        
        h3{
            font-size:24px;
        }
        .ma{
            margin-top:10px ;
            ul{
                font-size: 9px;
            }
        }
        
        .zfx{
            margin-top:23px ;
            width: 85px;
            height: 46px;
            background: #75B42B;
            content: '';
            border-radius: 8%;
            position: relative;
        }
        .zfx:after{
            position: absolute;
            content: '';
            top: 15px;
            left: 36px;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-left: 20px solid #fff;
            border-bottom: 8px solid transparent
        }
        
        .eu{
            float: right;
            line-height: 13px;
            margin-top:-50px ;
             ul{
                font-size: 9px;
            }
        } 
        .dian{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 2px solid #fff;
            float: left;
            margin-left: 5px; 
            margin-top:10px ;
        }
        .dian:hover{
             border: 2px solid #fff;
             background: #fff;
        }       
    }
    
}


.disi{
    background: url(./img/photo-share_20.png) no-repeat;
    height: 400px;
    width: 1000px;
    color: #fff;
    
    .ziti{
        width: 250px;
        height: 225px;
        float: left;
        margin: 92px 250px;
        line-height:20px ;
        color: #fff;
    }
    h3{
       font-size:24px;
    }
    .ma{
        margin-top:10px ;
        ul{
            font-size: 9px;
        }
    }
    .lazk{
        width: 235px;
        height: 116px;
//      border: 1px solid red;
        background: #fff;
        margin-top:30px ;
        
        img{
            position: relative;
            top: 26px;
            left: 15px;
        }
        .lzziti{
            position: relative;
            width: 130px;
            height: 61px;
//          background: #FF0000;
            top: -30px;
            left: 75px;
            
            h3{
                font-size: 9px;
                color: #75B42B;
            }
            ul{
                font-size: 9px;
                color: #666;
                line-height: 12px;
            }
        }
        .lvkuang{
            height: 21px;
            background: #75B42B;
                
            .dian{
                width: 5px;
                height: 5px;
                border-radius: 50%;
                border: 2px solid #fff;
                float: left;
                margin-left: 5px; 
                margin-top:6px ;
            }
            .dian:hover{
                 border: 2px solid #fff;
                 background: #fff;
            } 
        }
        
        
    }
   
}

.diwu{
    height: 412px;
//  height: 450px;
    
    .zitik{
        width: 218px;
        height: 73px;
        position: relative;
        top: 35px;
        left: 253px;
        
         h3{
                font-size: 14px;
                color: #75B42B;
                position: relative;
                top: -10px;
            }
            ul{
                font-size: 9px;
                color: #666;
                line-height:4px;
                padding-top: 9px;
            }
    }
    .siliantu{
        background: #000;
        margin-top: 80px;
        
        .diyit{
            background: url(./img/photo-share_200.png) no-repeat 0 0;
            width: 250px;
            height: 260px;  
            float: left;
        }
        
         .diert{
            background: url(./img/photo-share_21.png) no-repeat 0 0;
            float: left;
            width: 250px;
            height: 260px;  
        }
        .disant{
            background: url(./img/photo-share_18.png) no-repeat 0 0;
            float: left;
            width: 250px;
            height: 260px;  
        }
         .disit{
            background: url(./img/photo-share_22.png) no-repeat 0 0;
            float: left;
            width: 250px;
            height: 260px;  
        }
        
        .diyit::hover{
            
            
        }
    }
}
